body {
    margin-left: 30%;
    margin-right: 40%;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
   }
   
   .container1,.container2,.container3,.container4,.container5{
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(142, 209, 209);
    box-shadow: 2px;

   }